@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import "primereact/resources/themes/lara-light-blue/theme.css";

@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@theme {
  --color-primary: #80bdff;
  --color-on-primary: #FFFFFF;       /* Branco puro: alto contraste */
  --color-primary-hover: #00a4d2;
  --color-on-primary-muted: #F0F8FF; /* Azul gelo: suave, ainda legível */

  --color-secondary: #CDE8D5;
  --color-on-secondary: #2F4F4F;     /* Cinza esverdeado escuro */
  --color-secondary-hover: #B3D6C0;
  --color-on-secondary-muted: #4B4B4B; /* Cinza neutro escuro */

  --color-accent: #F2E2B8;
  --color-accent-hover: #f4f9fc;

  --color-cancel: oklch(92.8% 0.006 264.531);
  --color-on-cancel: #6a7282;
  --color-cancel-hover: oklch(87.2% 0.01 258.338);

  --color-background: #fdfdfb;

  --color-text: #A6A6A6;
  --color-text-hover: #4a4a4a;

  --color-text-muted: #7a7a7a;
  --color-text-muted-hover: #A6A6A6;

  --color-danger: oklch(63.7% 0.237 25.331);
  --color-text-on-danger: #2F4F4F;
  --color-danger-hover: oklch(70.4% 0.191 22.216);

  --color-success-primary: oklch(52.7% 0.154 150.069);
  --color-success-primary-hover: #BFD8B8;

  --color-highlight: oklch(68.1% 0.162 75.834);
  --color-highlight-hover: oklch(79.5% 0.184 86.047);

  --color-info: oklch(62.3% 0.214 259.815);
  --color-info-hover: oklch(54.6% 0.245 262.881);

  --animate-jump: jump 0.5s ease-in-out;
}

#root {
  font-family: "Inika", serif;
  font-weight: 400;
  @apply h-dvh text-lg flex flex-col bg-background;
}

#Main {
  /* background-image: url("/bg.png"); */
  background-size: cover;
  background-attachment: fixed;
}

.input .p-calendar,
input {
  @apply appearance-none rounded-md py-1.5 pr-7 pl-3 text-base text-text-muted  placeholder:text-text-muted-hover focus:outline-2 focus:-outline-offset-2 focus:outline-primary;
}

.p-speeddial-button {
  @apply h-[48px] w-[48px] bg-primary hover:bg-primary-hover cursor-pointer text-on-primary py-1 px-2;
}

.p-speeddial-list {
  @apply top-[110%] absolute;
}

.btn-primary {
  @apply bg-primary text-on-primary hover:bg-primary-hover hover:text-on-primary-muted cursor-pointer  py-1 px-2 rounded;
}

.btn-cancel {
  @apply bg-cancel hover:bg-cancel-hover cursor-pointer text-on-cancel ring-1 ring-cancel py-1 px-2 rounded;
}

.btn-danger {
  @apply bg-danger hover:bg-danger-hover cursor-pointer text-text-on-danger py-1 px-2 rounded;
}

.content {
  @apply w-full mb-10 py-5 md:px-4 overflow-auto relative;
}

.p-datepicker-trigger {
  @apply bg-primary p-0;
}

.p-password.w-full input {
  @apply w-full;
}

@keyframes jump {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}
