@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import "primereact/resources/themes/lara-light-blue/theme.css"
layer(primereact);

@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@theme {
  --color-primary-100: #d0edf8;
  --color-primary-200: #a1dbf2;
  --color-primary-300: #72c9eb;
  --color-primary-400: #43b7e5;
  --color-primary-500: #14a5de;
  --color-primary-600: #1084b2;
  --color-primary-700: #0c6385;
  --color-primary-800: #084259;
  --color-primary-900: #04212c;

  --animate-jump: jump .5s ease-in-out;
}

#root {
  font-family: "Inika", serif;
  font-weight: 400;
  @apply h-dvh text-lg flex flex-col bg-gray-200;
}

#Main {
  background-image: url("/public/bg.png");
  background-size: cover;
  background-attachment: fixed;
  .login-image {
    background-image: url("/public/login.jpg");
    background-size: cover;
    background-position: center;
  }
}

.input {
  @apply appearance-none rounded-md py-1.5 pr-7 pl-3 text-base text-gray-500 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-500 ;
}

.btn-primary {
  @apply bg-primary-500 hover:bg-primary-600 cursor-pointer text-white py-1 px-2 rounded;
}

.btn-cancel {
  @apply bg-gray-200 hover:bg-gray-600 cursor-pointer text-gray-500 ring-1 ring-gray-400 py-1 px-2 rounded;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-600 cursor-pointer text-white py-1 px-2 rounded;
}

.content{
  @apply bg-white w-full mb-10 py-5 overflow-auto relative;
}
.p-inputswitch-slider{
  &::before{
    @apply -mt-2.5
  }
}

@keyframes jump {
  0% {
    transform: scale(100%);
  } 50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
    }
}
